.modalContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 8px;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  outline: none;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalImage {
  width: 775px;
  height: 775px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.modalInfo {
  text-align: center;
}

.closeModalBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #ccc;
}

.closeModalBtn:hover {
  color: #ff0000;
}
